// This is where we define the max-width container
//    We will re-use this extensively.
.content-container {
  margin: 0 auto; // Evenly distribute left and right
  padding: 0 $m-size; // Pad the left and right, no padding top/bottom
  max-width: 80rem;
}